{% extends 'main/base.html' %}
{% block head %}
{{ super() }}
{% endblock %}
{% block title %}Account Codes{% endblock %}
{% block content %}

<!-- Add Code Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Create Account Code</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form method="post" action="/create/account_code">
            <div class="modal-body">
                {{ input_form.hidden_tag() }}
                <div class="form-group my-2">
                    {{ input_form.code_id.label(class="mb-1") }}
                    {{ input_form.code_id(size=16, class="form-control") }}
                </div>   
                <div class="form-group my-2">
                    {{ input_form.code_desc.label(class="mb-1") }}
                    {{ input_form.code_desc(size=16, class="form-control") }}
                </div>
                {% for error in input_form.code_id.errors %}
                <span style="color: red;">{{ error }}</span><br>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit"class="btn btn-primary">Submit</button>
            </div>
        </form>

        </div>
    </div>
</div>

<!-- Edit Code Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="editModalTitle">Edit Account Code</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form id="accountCodeForm" method="post" action="/create/account_code?id">
            <div class="modal-body">
                {{ input_form.hidden_tag() }}
                <div class="form-group my-2">
                    <label class="mb-1" for="code-id-edit">Code ID</label>
                    <input class="form-control" id="code-id-edit" name="code_id" size="16" type="number" value="">
                </div>   
                <div class="form-group my-2">
                    <label class="mb-1" for="code-desc-edit">Code Description</label>
                    <input class="form-control" id="code-desc-edit" name="code_desc" size="16" type="text" value="">
                </div>
                {% for error in input_form.code_id.errors %}
                <span style="color: red;">{{ error }}</span><br>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit"class="btn btn-primary">Submit</button>
            </div>
        </form>

        </div>
    </div>
</div>

<div class="container-fluid px-4 w-100">
    <h1 class="mt-4" style="font-size: 1.5em;">Account Codes</h1>
 
    <div class="card mb-4">
        <div class="card-header bg-dark bg-gradient text-white" style="font-weight: lighter;">
            <i class="fas fa-table me-1"></i>
            List of Account Codes
        </div>
     
       <div class="row mt-3 mx-1">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                <i class="fa fa-plus" aria-hidden="true"></i> Create
            </button>
            </div>
        </div>
       </div>

        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Actions</th>
                        {% for lbl in account_code.get_labels() %}
                        <th>{{ lbl }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in account_code.query.all() %}
                    <tr>
                        <th class="text-center" style="width: 10px;">
                            <div class="btn-group btn-group-justified">
                                <button id="edit-{{item.id}}" type="button" class="btn btn-outline-success btn-sm mx-1 my-0 px-3 py-0" 
                                data-bs-toggle="modal" data-bs-target="#editModal" data-custom-value="{{item.id}}" onclick='logCustomValue(this)'>
                                <i class="fas fa-edit"></i></button>
                                <button id="edit-{{item.id}}" type="button" class="btn btn-outline-danger btn-sm mx-1 my-0 px-3 py-0" 
                                data-bs-toggle="modal" data-bs-target="#editModal" data-custom-value="{{item.id}}" onclick='logCustomValue(this)'>
                                <i class="fas fa-trash"></i></button>
                            </div>
                        </th>
                        
                        <th style="width:100px">{{item.id}}</th>
                        <th>{{item.code_id}}</th>
                        <th>{{item.code_desc}}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function updateFormValues(id) {
            // Make an HTTP GET request to fetch the data
            document.getElementById('accountCodeForm').action = `/create/account_code?id=${id}`
            fetch(`/get/account_code?id=${id}`)
                .then(response => response.json())
                .then(data => {
                    // Update the value of the inputs with the received data
                    document.getElementById('code-id-edit').value = data.code_id;
                    document.getElementById('code-desc-edit').value = data.code_desc;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function logCustomValue(button) {
            var customValue = button.dataset.customValue;
            updateFormValues(customValue);
        }
     </script>
{% endblock %}
