
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock %}</title>
        
        <script src="/static/js/jquery-3.7.0.min.js"></script>
        <link href="/static/datatables/style.min.css" rel="stylesheet" />
        <link href="/static/main/css/starter-styles.css" rel="stylesheet" />
        <link href="/static/css/styles.css" rel="stylesheet" />
        <script src="/static/fontawesome/js/all.min.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body class="sb-nav-fixed">
            {% include 'main/_nav.html' %}

            <div id="layoutSidenav_content">
                <main>
                    {% block content %}{% endblock %}
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Sibro Credit Cooperative 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            
        <script src="/static/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/static/main/js/scripts.js"></script>
        <script src="/static/datatables/umd/simple-datatables.js" crossorigin="anonymous"></script>
        <script src="/static/main/js/datatables-simple-demo.js"></script>
    </body>
</html>
