{% extends 'main/base.html' %}
{% block head %}
{{ super() }}
        <link href="/static/main/css/add_member.css" rel="stylesheet" />
{% endblock %}
{% block title %}All Members Data{% endblock %}
{% block content %}

<div class="container-fluid px-4 w-100">
    <h1 class="mt-4" style="font-size: 1.5em;">Member Records</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a>Members</a></li>
        <li class="breadcrumb-item active">View All Records</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header bg-dark bg-gradient text-white" style="font-weight: lighter;">
            <i class="fas fa-table me-1"></i>
            List of Sibro Members
        </div>

        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>View</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Member ID</th>
                        <th>DOB</th>
                        <th>Occupation</th>
                        <th>Invoice Amount</th>
                        <th>Savings Amount</th>
                    </tr>
                </thead>

                <tbody>
                    {% for member in all_members_data %}
                    <tr>
                        <td><a href="/members/view?id={{ member.member_id }}" class="btn btn-outline-success btn-sm" role="button"><i class="fa-regular fa-address-card"></i></a></td>
                        <td>{{ member.lastName }}</td>
                        <td>{{ member.firstName }}</td>
                        <td>SIB-001-{{ member.member_id }}</td>
                        <td>{{ member.dob }}</td>
                        <td>{{ member.occupation }}</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        const occupationMap = {
            'GOV_EMPLOYEE': 'Government Employee',
            'PRIV_EMPLOYEE': 'Private Employee',
            'PRAC_PROFF': 'Practicing Professional',
            'NON_PROFF': 'Non-Professional',
            'BUSS_PERSON': 'Business Person / Entrepreneur',
            'CHUR_SERVANT': 'Church Servant / Worker',
            'OFW': 'Overseas Filipino Worker (OFW)',
            'RET_PEN': 'Retiree / Pensioner',
            'HOUSE_WIFE': 'Housewife / Househusband',
            'YOUTH_STUDENT': 'Youth / Student',
            'FARMER_FISHERFOLK': 'Farmer / Fisherfolk',
            'LABORER': 'Laborer'
        };
        
        // Function to convert occupation values to labels
        function convertOccupationsToLabels(occupations) {
            return occupations.map(occupation => occupationMap[occupation]);
        }
    
        
    </script>

{% endblock %}